.div1{   background-color: darkorange; border-radius: 5px;
        float: left; width: 35%; position:absolute;
}
.div2{ background-color: #6531f2; border-radius: 5px;
        float: right; width: 35%; }