*{transition: 0.5s;}
div{background-color: #ffef6b; text-align: center; font-family: sans-serif; min-height: 50px; position: relative; overflow: hidden;
    padding: 5%; box-sizing: border-box; display: flex; flex-direction: row; flex-wrap: wrap;align-items: center; justify-content: space-around;
}
h3{font-family: serif; font-size: 3em; color: #2e5d2e;}
p{font-family: serif; font-size: 1.75em; color: #a89e13;}
#get1{width: 150px; height: 75px; font-size: 1.25em; font-weight: 500; background-color: #e0b62b;}
#get2{width: 150px; height: 75px; font-size: 1.25em; font-weight: 500; background-color: #e0b62b;}
#oblogka{position: relative; margin: auto; width: 400px; height: 400px; background-color: #fff;overflow: hidden;}
#bubble{position:absolute; top: 100px;}

